@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

input[type=checkbox]:checked + span {
    text-decoration: line-through;
}

body {
    background-image: url('https://images.unsplash.com/photo-1586075010923-2dd4570fb338?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Indie Flower', cursive;
    margin: auto;
    width: 70%;
}

input[type=checkbox]:checked {
    box-shadow: 0 0 0 3px green;
}

h1 {
    font-size: 3em;
    text-align: center;
}

ul {
    font-size: 1.5em;
    margin: auto;
    list-style: none;
    width: 70%;
}

li {
    display: flex;
    margin: 10px 0;
}

li span {
    flex-grow: 1;
    margin: 0 20px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-task-button {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}
#add-task-button:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
}
#add-task-button:active {
    position: relative;
    top: 1px;
}

#input-task {
    width: 75%;
    margin-right: 20px;
}

.delete-btn {
    background-color: darkred;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: red;
}